<div class="orderListing">
    <p><label class="boldText"> Shopping cart >> </label></p>
    <label>Showing all orders, filter order by:</label>
    <md-input-container>
        <md-radio-group ng-model="search.orderStatus" layout="row">
            <md-radio-button value="open">
                Open
            </md-radio-button>
            <md-radio-button value="submitted">
                Submitted
            </md-radio-button>
            <md-radio-button value="deleted">
                Deleted
            </md-radio-button>
        </md-radio-group>
    </md-input-container>

    <div ng-repeat="order in orders | filter:search:strict">
        <md-toolbar layout="row" class="md-hue-3 fixOrderToolBarMaxHeight">
            <div class="md-toolbar-tools">
                <span>Order {{$index+1}} - {{ order._id }}</span>
            </div>
            <md-button ng-click="deleteOrder(order._id,$event)" class="md-raised md-warn">Delete</md-button>
        </md-toolbar>
        <md-content>
            <md-list class="md-dense" flex>
                <md-list-item class="md-3-line" layout-padding>
                    <div class="md-list-item-text" layout="column">
                        <h3>Payment mode: {{ order.paymentMethod }}</h3>
                        <h3>Items in order</h3>
                        <h4 class="sidebarPadLeft" ng-repeat="ing in order.ingredients">{{ ing.name }}</h4>
                        <h4>Supermarket: {{ order.marketId }}</h4>
                        <h4>Status: {{ order.orderStatus }}</h4>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>
    </div>

    <div ng-if="enableCheckout" align="right"><md-button href="/#/checkout" class="md-raised md-primary" ng-click="processOrder()">Checkout</md-button></div>
</div>