<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>
                <span>Side Panel</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
                <md-tooltip>Close Side Panel</md-tooltip>
                <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-list>
            <md-list-item>
                <md-icon class="md-default-theme sidebarIconFix" class="material-icons">&#xE556;</md-icon>
                <p><a href="/#/recipes" class="sideBarAhrefFix" ng-click="enableFilters()">Browse Recipes</a></p>
            </md-list-item>
            <div ng-show="showFilters">
                <md-list-item class="sidebarPadLeft" ng-repeat="item in filters">
                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        {{ item }} <span ng-if="exists(item, selected)">selected</span>
                    </md-checkbox>
                    {{ item }}
                </md-list-item>
            </div>
            <md-divider></md-divider>
            <md-list-item ng-if="loggedIn">
                <md-icon class="md-default-theme" class="material-icons">&#xE89C;</md-icon>
                <p><a href="/#/create" class="sideBarAhrefFix" ng-click="disableFiltersAndHideSideBar()">Create
                    Recipe</a></p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Account settings</md-subheader>
            <div ng-if="loggedIn">
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
                    <p>Profile</p>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE547;</md-icon>
                    <p><a href="/#/orders" class="sideBarAhrefFix" ng-click="disableFiltersAndHideSideBar()">Shopping
                        Cart</a></p>
                    <div class="md-secondary">{{openOrderCount}}</div>
                </md-list-item>
            </div>
            <div ng-if="!loggedIn">
                <md-list-item>
                    Please log in/register to use full website functionlity.
                </md-list-item>
            </div>
        </md-list>
    </md-content>
</md-sidenav>
