<md-toolbar class="md-primary md-hue-3">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">{{recipe.title}}</h2>
    </div>
</md-toolbar>
<md-content>
    <div layout="row" layout-sm="column" layout-padding>
        <div flex>
            <img flex="90" class="mv-display-pic" ng-src="{{recipe.mainImageId}}">
        </div>
        <div flex>
            <h2>Prep Time: {{recipe.prepTime}}</h2>
            <h2>Difficulty: {{recipe.difficulty}}</h2>
            <h2>Rating: {{recipe.rating}} out of 5</h2>
            <h3>By: {{recipe.user.username}}</h3>
            <h3>Created: {{recipe.createdOn | date}}</h3>
            <h4>{{recipe.description}}</h4>
        </div>
    </div>

    <div layout="row" layout-sm="column" layout-padding>
        <div flex>
            <ul>
                <h2>Ingredients:</h2>
                <li ng-repeat="ingredient in recipe.ingredients">{{ingredient.name}}</li>
            </ul>
        </div>
        <div flex>
            <ul>
                <h2>Steps:</h2>
                <li ng-repeat="step in recipe.steps">{{step}}</li>
            </ul>
        </div>
    </div>

    <div ng-cloak>
    <md-toolbar class="md-hue-3">
        <h2 class="md-toolbar-tools">
            <span>Comments</span>
        </h2>
    </md-toolbar>

        <md-content>
            <md-list>
                <md-list-item class="md-3-line">
                    <img ng-src="/images/blankuser.jpeg" class="md-avatar">
                    <div class="md-list-item-text">
                        <h4>user1</h4>
                        <p>This is awesome!</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <img ng-src="/images/blankuser.jpeg" class="md-avatar">
                    <div class="md-list-item-text">
                        <h4>user2</h4>
                        <p>I like this recipe.</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>

                <md-list-item class="md-3-line" ng-repeat="comment in comments">
                    <img ng-src="/images/blankuser.jpeg" class="md-avatar">
                    <div class="md-list-item-text">
                        <p>{{comment.text}}</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        </div>

    <div layout="row" layout-sm="column" layout-padding>
        <form name="CommentForm" ng-submit="addNewComment()" ng-if="loggedIn">
            <md-input-container class="md-block">
                <label>Share your comments!</label>
                <input minlength="10" maxlength="50" required name="text" ng-model="comment.text">
                <div ng-messages="CommentForm.text.$error">
                    <div ng-message="required">This is required, and between 10-50 chars.</div>
                </div>
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary">Add comment</md-button>
        </form>

        <p ng-if="!loggedIn">Please log in to add comments</p>

        <ul mv-comment-box class="comment-box" comment="comment" ng-repeat="comment in comments">{{comment.text}}</ul>

    </div>


