

<!-- header -->

<div layout="row" layout-padding layout-align="space-between center">
    <div>
        <md-button href="javascript:" aria-label="Side Panel" ng-click="openSideNavPanel()">
            <md-tooltip>Side Panel</md-tooltip>
            <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
        </md-button>
        <md-button href="/#">Home</md-button>
    </div>
    <div class="nav-buttons">
        <!-- not logged in -->
        <md-button hide-xs ng-if="!loggedIn" ng-click="showLoginDialog()" class="md-raised">Login</md-button>
        <md-button hide-xs ng-if="!loggedIn" ng-click="showSignupDialog()" class="md-raised">Register</md-button>
        <!-- logged in -->
        <md-button ng-if="loggedIn" class="">Hi, {{user.username}} </md-button>
        <md-button ng-if="loggedIn" ng-click="logout()" class="md-raised">Log Out</md-button>
    </div>
    </div>

<!-- header -->
